* {
  padding: 0;
  margin: 0;
  font-family: Montserrat;

}
body {
  background: #faf8f8;

}
ul , li {
  list-style:  none;
}

input {
  border: none;
  outline: none;
  max-width: 590px;
  width: 100%;
}

a {
  text-decoration: none;
}