* {
  padding: 0;
  margin: 0;
  font-family: Montserrat;
  background: linear-gradient(180deg, #FE858D 0%, #FE616B 100%);

}

.warper {
  background: linear-gradient(180deg, #FE858D 0%, #FE616B 100%);
}